<div class="container mt-5">
  <h3>Dodawanie testu</h3>
  <form [formGroup]="testForm" (ngSubmit)="submitTest()">
    <div class="form-row mb-4">

      <div class="col-md-7">
        <label class="required" for="name">Nazwa testu</label>
        <input type="text" class="form-control" [ngClass]="{'is-invalid':testForm.controls.name.invalid && testForm.controls.name.touched }" formControlName="name" id="name" placeholder="Podaj nazwę testu" required>
        <div class="invalid-feedback">Nazwa testu jest wymagana</div>
      </div>

      <div class="col-md-5">
        <label for="duration">Czas trwania testu</label>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="duration" id="duration" placeholder="Podaj czas trwania testu">
          <div class="input-group-postpend">
            <span class="input-group-text" id="inputGroupPostpend">minuty</span>
          </div>
        </div>
      </div>

    </div>
    <div class="form-row justify-content-end">

      <button type="submit" class="btn btn-primary" [disabled]="!testForm.valid">Dodaj test</button>

    </div>
  </form>
</div>
